
@font-face {
    font-family: Montserrat-VariableFont_wght;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  }
  
  @font-face {
    font-family: Montserrat-Italic-VariableFont_wght;
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
  }

:root {
    --mrd2-black: #0D0D0D;
    --mrd2-red: #F20505;
    --mrd2-green: #05F26C;
    --mrd2-blue: #0583F2;
    --mrd2-violet: #F20574;
    --mrd2-white: #FAFAFA;
    --mrd2-yellow: #F2EA7E;
    --mrd2-orange: #F2A444;
    --mrd2-blackblue: #0A0140;
    --mrd2-redorange: #F24405;
}

  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html{
    font-size: 62.5%;
}