
@font-face {
    font-family: Montserrat-VariableFont_wght;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  }
  
  @font-face {
    font-family: Montserrat-Italic-VariableFont_wght;
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
  }

:root {
    --mrd2-black: #0D0D0D;
    --mrd2-red: #F20505;
    --mrd2-green: #05F26C;
    --mrd2-blue: #0583F2;
    --mrd2-violet: #F20574;
    --mrd2-white: #FAFAFA;
    --mrd2-yellow: #F2EA7E;
    --mrd2-orange: #F2A444;
    --mrd2-blackblue: #0A0140;
    --mrd2-redorange: #F24405;
}

  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--mrd2-black);
}

header{
    align-items: center;
    animation: adjust-header linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
    height: 4rem;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    padding: 2rem;
    position: sticky;
    top: 0px;
}

@keyframes adjust-header{
    to{
        background: rgba(0, 0, 0, 0.3);
        font-size: 1.2rem;
        height: 2.4rem;
    }
}

.title1{
    color: var(--mrd2-white);
    font-family:Montserrat-VariableFont_wght;
    font-size: 3rem;
    font-weight: 700;
}

a{
    color: var(--mrd2-orange);
    font-family: Montserrat-VariableFont_wght;
    font-size: 1.6rem;
}