

div{
    height: 200px;
    width: 200px;
}

p{
    margin: 0;
    padding: 0;
}

#first{
    background-color: cadetblue;
    border: solid 10px black;
    padding: 20px;
}

#second{
    background-color: gold;
    border: solid black;
    border-width: 20px 10px;
    margin-left: 260px;
}

#third{
    background-color: indianred;
    border: solid black 10px;
    margin-left: 40px;
}